@import "tailwindcss";

:root {
  /* Forzamos tus colores corporativos base para el fondo y texto del sitio */
  --background: #EDE7E2; /* Beige cálido */
  --foreground: #0D1419; /* Azul profundo */
}

@theme inline {
  /* Vinculamos de forma prioritaria la tipografía Outfit */
  --font-sans: var(--font-outfit), sans-serif;

  /* Inyectamos la paleta exacta de Okrices Studio */
  --color-studio-blue: #0D1419;
  --color-studio-copper: #A55130;
  --color-studio-beige: #EDE7E2;
  --color-studio-nude: #D1B7A1;
  --color-studio-smoke: #4A5568;
  --color-studio-octopus: #51372B;
}

body {
  background: var(--background);
  color: var(--foreground);
}